<div class="chatpage">
  <a href="/" class="leavechat"
    ><span><i class="fa-solid fa-arrow-right-from-bracket"></i></span> Leave
    Room</a
  >

  <h2><i class="fas fa-comments"></i> <span id="room-name"></span></h2>

  <div id="userlist">
    <h3>Users</h3>
    <ul id="users">
      <li>muhammet</li>
    </ul>
  </div>

  <div class="chat-messages"></div>

  <form id="chat-form">
    <input
      id="msg"
      type="text"
      placeholder="Enter Message"
      required
      autocomplete="off"
    />
    <button class="btn sendbtn"><i class="fa-solid fa-paper-plane"></i></button>
  </form>
</div>
