@font-face {
  font-family: Kanit;
  font-style: normal;
  src: url("kanit.woff") format("truetype");
  font-display: swap;
}

* {
  margin: 0 auto;
  padding: 0;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

body {
  background: #e1e1e1;
}

#app {
  max-width: 430px;
  height: 100%;
  background: #fff;
  position: relative;
  margin: 0 auto;
}

header {
  background-color: #7158e2;
  color: #ffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header a {
  color: #fff;
  text-decoration: none;
}

header img {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 100%;
  top: 50px;
}

.head {
  padding: 0 40px;
}

.head section {
  margin: auto;
}

.head section:nth-child(1) {
  text-align: center;
  margin-top: 50px;
}

.head img {
  width: 330px;
}

.head h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.head p {
  margin-bottom: 10px;
}

.head button {
  background: #7158e2;
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-size: 1.2em;
  padding: 10px 15px;
  margin: 30px 0;
  cursor: pointer;
}

.head button:nth-child(2) {
  background: #f79828;
  margin-left: 10px;
}

#chats {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0 30px;
}

#zoekenKnop {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin: 0 5px;
}

.zoekbalk {
  display: none;
  text-align: center;
  background-color: #7158e2;
  color: #ffff;
}

.zoekbalk section #extraZoeken {
  height: 100%;
}

.zoekbalk h2 {
  padding-top: 60px;
  margin: 0;
  margin-bottom: 10px;
}

.zoekbalk::before {
  content: "";
  width: 200px;
  height: 80px;
  display: block;
  position: absolute;
  background-color: #7158e2;
  right: 0;
  top: 0px;
}

.zoekbalkAnimatie {
  animation: zoekbalkAnimatie 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: block;
  height: 0px;
}

.zoekbalkAnimatieSluiten {
  animation: zoekbalkAnimatieSluiten 0.3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: block;
  height: 0px;
}

#zoekenSluiten {
  position: absolute;
  right: 60px;
  top: 15px;
  background: none;
  border: none;
  color: #ffff;
  font-size: 2em;
  cursor: pointer;
}

#zoekVeld {
  font-size: 1.45em;
}

#extraZoeken {
  margin-left: -10px;
  font-size: 1.5em;
  background-color: #4c3c9b;
  border: 1px solid #767676;
  color: #ffff;
  width: 60px;
  height: 32px;
  cursor: pointer;
}

@keyframes zoekbalkAnimatie {
  0% {
    height: 0px;
    display: block;
  }

  100% {
    height: 200px;
  }
}

@keyframes zoekbalkAnimatieSluiten {
  0% {
    height: 200px;
  }

  100% {
    height: 0px;
    display: none;
  }
}

.aboutPage {
  display: none;
  width: 430px;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  background-color: #ffff;
  top: 0;
  z-index: 999999;
}

.aboutPage h2,
.aboutPage h3 {
  font-size: 2em;
  color: #7158e2;
  margin: 0 0 10px 0px;
}

.aboutPage img {
  width: auto;
  height: 200px;
  margin: 20px 0;
}

.aboutPage article {
  margin-top: 30px;
}

#sluitAbout {
  position: absolute;
  right: 35px;
  top: 0px;
  font-size: 3em;
  background: none;
  border: none;
  color: #7158e2;
  cursor: pointer;
}

.aboutOpenanimatie {
  animation: aboutOpenanimatie 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: block;
}

.aboutsluitenAnimatie {
  animation: aboutsluitenAnimatie 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes aboutOpenanimatie {
  0% {
    right: -1000px;
    display: block;
  }

  100% {
    right: 0px;
    left: 0px;
  }
}

@keyframes aboutsluitenAnimatie {
  0% {
    right: 0px;
    left: 0px;
  }

  100% {
    right: -1000px;
  }
}

.cryptoInfo {
  position: relative;
}

.cryptocoins {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin-top: 60px;
  height: auto;
  position: relative;
}

#resultatenResetten {
  display: none;
  position: absolute;
  right: 10px;
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  color: #7158e2;
  margin-top: -50px;
  z-index: 9999;
}

.coin {
  list-style: none;
  width: 140px;
  border: 1px solid #eaeaea5c;
  border-radius: 5px;
  box-shadow: 0px 6px 24px rgb(157 157 157 / 15%);
  padding: 20px 15px 30px 15px;
  margin: 20px 0px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  z-index: 2;
}

.coin ul {
  list-style: none;
  padding: 0;
}

.coin ul li:nth-child(2) {
  font-size: 0.8em;
  background-color: #f4f4f4;
  color: #7158e2;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  margin: 10px auto;
}

.cryptoNaam {
  font-size: 1em;
  font-weight: 600;
}

.chatcrypto {
  position: relative;
  display: flex;
  margin: 0px auto;
  margin-bottom: 30px;
  align-items: end;
  list-style: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
  width: 90%;
}

.chatscontainer {
  margin-top: 60px;
}

.chatscontainer::before {
  content: "";
  display: block;
  width: 200px;
  height: 50px;
  background: #7158e2;
  position: absolute;
  top: -125px;
  right: 0px;
}

.chatcrypto li:nth-child(1) {
  margin: 0 40px 0 40px;
}

.chatcrypto li:nth-child(2) {
  width: 100%;
}

.chatcrypto form {
  display: none;
}

.chatcrypto .joinchat {
  background: #7158e2;
  border: none;
  color: #fff;
  padding: 5px 40px;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1em;
}

.goback {
  position: absolute;
  top: -122px;
  right: 45px;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}
.room {
  display: none;
}

.coin ul li:nth-child(4),
.coin ul li:nth-child(5),
.coin ul li:nth-child(6),
.coin ul li:nth-child(7),
.coin ul li:nth-child(8),
.coin ul li:nth-child(9),
.coin ul li:nth-child(10),
.coin ul li:nth-child(11),
.sluiten {
  display: none;
}

.coinulpage {
  width: 430px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 99999;
}

.coinulpage li:nth-child(4),
.coinulpage li:nth-child(5),
.coinulpage li:nth-child(6),
.coinulpage li:nth-child(7),
.coinulpage li:nth-child(8),
.coinulpage li:nth-child(9),
.coinulpage li:nth-child(10),
.coinulpage li:nth-child(11) {
  display: block !important;
}

.coinulpage li:nth-child(4),
.coinulpage li:nth-child(5),
.coinulpage li:nth-child(6),
.coinulpage li:nth-child(7),
.coinulpage li:nth-child(8),
.coinulpage li:nth-child(9),
.coinulpage li:nth-child(10),
.coinulpage li:nth-child(11) {
  background: #f4f4f4;
  width: 90%;
}

.coinulpage li:nth-child(1) {
  margin-top: 50px;
}

.coinulpage li:nth-child(1) img {
  width: 100px;
  height: auto;
}

.coin ul li:nth-child(4) {
  padding-top: 10px;
}

.coinulpage li:nth-child(3) {
  margin: 20px auto;
  font-size: 2em;
}

.coinulpage li:nth-child(4) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  color: #7158e2;
}
.coinulpage li:nth-child(6),
.coinulpage li:nth-child(8),
.coinulpage li:nth-child(10) {
  font-weight: bold;
  color: #7158e2;
}

.coinulpage li:nth-child(5),
.coinulpage li:nth-child(7),
.coinulpage li:nth-child(9) {
  padding-bottom: 20px;
}

.coinulpage li:nth-child(11) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
}

.coinulpage .sluiten {
  display: block;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 3em;
  color: #7158e2;
}

.cryptopagina form {
  display: block;
  position: fixed;
  z-index: 999999;
  background-color: #000000a6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.cryptopagina form div {
  margin-top: 150px;
  background-color: white;
  width: 350px;
  height: 260px;
  position: relative;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.cryptopagina form div input {
  padding: 5px;
  margin-top: 10px;
}
.btn {
  display: block;
  background: #7158e2;
  border: none;
  color: #fff;
  padding: 5px;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cryptopagina form div h3 {
  font-size: 1.7em;
  margin-top: -100px;
}

.closeform {
  position: absolute;
  width: 50px !important;
  border: none;
  top: 0px;
  right: 0px;
  font-size: 2em;
  color: #7158e2;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.message {
  background: #7158e229;
  width: 80%;
  padding: 10px 25px;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
}

.message .meta {
  margin-bottom: 10px;
  color: #7158e2;
}

.message .meta span {
  color: #6b6b6b;
  margin-left: 20px;
  font-size: 13px;
  position: absolute;
  right: 30px;
}

.leavechat {
  display: block;
  position: absolute;
  right: 30px;
  top: -110px;
  padding: 7px;
  margin: 0;
  width: 160px;
  text-align: center;
  background: #7158e2;
  color: #fff;
}

#chat-form {
  position: relative;
}

#chat-form #msg {
  width: 350px;
  height: 50px;
  padding-left: 10px;
}

.sendbtn {
  position: absolute;
  display: block;
  margin: 0;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  background: #7158e2;
  border: none;
  color: #fff;
  cursor: pointer;
}

.chatpage {
  margin-top: 50px;
}

.chatpage h2 {
  text-align: center;
  margin: 20px auto;
}

.chatpage #userlist {
  padding: 5px;
}
.chatpage #userlist h3 {
  margin-left: 8px;
}

.chatpage #userlist #users {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  font-size: 0.6em;
  list-style: none;
}

.emptyState {
  position: absolute;
  z-index: -1;
  width: 100%;
  background: white;
  padding-bottom: 200px;
  text-align: center;
}
